body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1407px;
  height:690px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1407px;
  height:690px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:337px;
  width:1403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:262px;
  width:179px;
  height:124px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:409px;
  width:179px;
  height:124px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:124px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:558px;
  width:186px;
  height:124px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:645px;
  width:127px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:586px;
  width:78px;
  height:49px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:558px;
  width:179px;
  height:124px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
