body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:776px;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:643px;
  width:800px;
  height:776px;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:380px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:382px;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1429px;
  width:802px;
  height:382px;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:183px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:596px;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1413px;
  height:596px;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:1409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:1010px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:941px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:1516px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1516px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:233px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:229px;
  word-wrap:break-word;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:125px;
  width:105px;
  height:157px;
}
#u5024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:100px;
  height:38px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:100px;
  height:37px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u5030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:100px;
  height:38px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:85px;
  width:89px;
  height:16px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5032_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:71px;
  width:76px;
  height:45px;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:45px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:71px;
  width:87px;
  height:45px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:85px;
  width:80px;
  height:16px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5038_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:85px;
  width:89px;
  height:16px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5040_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1743px;
  width:115px;
  height:40px;
  color:#FFFFFF;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:233px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:203px;
  width:37px;
  height:35px;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:125px;
  width:153px;
  height:78px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:149px;
  word-wrap:break-word;
}
#u5049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:941px;
  width:85px;
  height:16px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:941px;
  width:47px;
  height:16px;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u5051_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:941px;
  width:47px;
  height:16px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u5053_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1006px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:934px;
  width:156px;
  height:31px;
  color:#AEAEAE;
  text-align:left;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
#u5059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1053px;
  width:71px;
  height:16px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:70px;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:1053px;
  width:77px;
  height:70px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:1053px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u5065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1133px;
  width:158px;
  height:54px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u5067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1038px;
  width:71px;
  height:16px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1038px;
  width:100px;
  height:16px;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5069_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:1038px;
  width:100px;
  height:16px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5071_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1036px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u5074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
