body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:62px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1442px;
  height:62px;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:13px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:21px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F56C6C;
}
#u3827 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:21px;
  width:71px;
  height:16px;
  color:#F56C6C;
}
#u3828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3829 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:21px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3831 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:21px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3833 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:21px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:225px;
  height:672px;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:225px;
  height:54px;
  font-size:14px;
  text-align:left;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u3839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:2px;
  width:87px;
  height:54px;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:-2px;
  width:100px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-1px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u3845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:50px;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:113px;
  width:78px;
  height:50px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:116px;
  width:800px;
  height:94px;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:0px;
  width:52px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u3852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:129px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u3854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:0px;
  width:106px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u3856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:110px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u3858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:95px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:0px;
  width:92px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u3862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:29px;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:0px;
  width:158px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u3864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:53px;
  height:30px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:29px;
  width:52px;
  height:30px;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:29px;
  width:129px;
  height:30px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:29px;
  width:106px;
  height:30px;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:29px;
  width:110px;
  height:30px;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:29px;
  width:95px;
  height:30px;
  color:#000000;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u3876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:29px;
  width:92px;
  height:30px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u3878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:29px;
  width:158px;
  height:30px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:53px;
  height:30px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:59px;
  width:52px;
  height:30px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:59px;
  width:129px;
  height:30px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:59px;
  width:106px;
  height:30px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:59px;
  width:110px;
  height:30px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:59px;
  width:95px;
  height:30px;
  color:#000000;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:59px;
  width:92px;
  height:30px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:59px;
  width:158px;
  height:30px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:145px;
  width:25px;
  height:25px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:124px;
  width:25px;
  height:16px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:150px;
  width:25px;
  height:16px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:182px;
  width:25px;
  height:16px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:180px;
  width:25px;
  height:25px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:73px;
  width:62px;
  height:39px;
  color:#FFFFFF;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:74px;
  width:123px;
  height:37px;
}
#u3908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3908_input:disabled {
  color:grayText;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:73px;
  width:168px;
  height:40px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:366px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:268px;
  width:799px;
  height:366px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:175px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:42px;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:288px;
  width:106px;
  height:42px;
  font-size:18px;
  color:#FFFFFF;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u3916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:497px;
  width:77px;
  height:24px;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u3918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:380px;
  width:77px;
  height:24px;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u3920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:380px;
  width:107px;
  height:24px;
  color:#AEAEAE;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u3922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:55px;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:483px;
  width:338px;
  height:55px;
  color:#AEAEAE;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:497px;
  width:23px;
  height:33px;
  color:#AEAEAE;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:529px;
  width:100px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:555px;
  width:150px;
  height:60px;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0299A0;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:150px;
  width:29px;
  height:16px;
  color:#0299A0;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:150px;
  width:29px;
  height:16px;
  color:#FF6633;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0299A0;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:185px;
  width:29px;
  height:16px;
  color:#0299A0;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:185px;
  width:29px;
  height:16px;
  color:#FF6633;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:37px;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:215px;
  width:534px;
  height:37px;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:76px;
  width:76px;
  height:30px;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:51px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:670px;
  width:551px;
  height:51px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:288px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:725px;
  width:803px;
  height:288px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:72px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:654px;
  width:803px;
  height:72px;
  font-size:18px;
  color:#FFFFFF;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:799px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:674px;
  width:32px;
  height:32px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:752px;
  width:754px;
  height:226px;
  color:#AEAEAE;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:105px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:746px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:772px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:772px;
  width:78px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:772px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:772px;
  width:78px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:811px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:811px;
  width:36px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:847px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:847px;
  width:65px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:847px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:847px;
  width:118px;
  height:84px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:882px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:882px;
  width:118px;
  height:84px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:811px;
  width:66px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#868686;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:811px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#868686;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:51px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:288px;
  width:551px;
  height:51px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:343px;
  width:803px;
  height:199px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:72px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:272px;
  width:803px;
  height:72px;
  font-size:18px;
  color:#FFFFFF;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:799px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:292px;
  width:32px;
  height:32px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:364px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:390px;
  width:100px;
  height:16px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3995_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:433px;
  width:100px;
  height:16px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3997_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:364px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:1620px;
  top:487px;
  width:99px;
  height:40px;
  color:#FFFFFF;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:487px;
  width:99px;
  height:40px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:548px;
  width:150px;
  height:86px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
