body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:688px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1403px;
  height:688px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:714px;
  width:375px;
  height:150px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
#u5296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:225px;
  height:672px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:225px;
  height:54px;
  font-size:14px;
  text-align:left;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u5300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u5302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0299A0;
  text-align:left;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#0299A0;
  text-align:left;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u5304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
#u5306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:225px;
  height:54px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
